.profileDetails {
  display: flex;
}

.followBtn {
  border-radius: 8px;
  width: 132px;
  height: 32px;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  text-align: center;
  color: #fff;
  cursor: pointer;
  padding-top: 6px;
  margin-left: 20px;

  background-color: #0095f6 !important;
  transition: 0.3s;
}

.followBtn:hover {
  background-color: #0065c4 !important;
}

.main {
  margin-left: 200px;
  margin-top: 44px;
}

.userDetails {
  display: flex;
  margin-left: 95px;
}

.container {
  display: flex;
  align-items: center;
}

.messegeBtn {
  border-radius: 8px;
  width: 190px;
  height: 32px;
  background: #efefef;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  text-align: center;
  color: #000;
  padding-top: 6px;
  margin-left: 8px;
  cursor: pointer;
}

.userDetails {
  margin-top: 30px;
  display: flex;
  gap: 30px;
}

.userDetails span {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 112%;
  color: #000;
}

.userDetails p {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 112%;
  color: #000;
}

.discription {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 14px;
  line-height: 129%;
  color: #000;
  margin-top: 20px;
  margin-left: 95px;
}

.postGrid {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 300px;
  margin-top: 55px;
  gap: 4px;
}

.buttonsFlex {
  display: flex;
}

.msgBtn {
  border-radius: 8px;
  width: 168px;
  height: 32px;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  text-align: center;
  color: black;
  cursor: pointer;
  padding-top: 6px;
  margin-left: 8px;

  background: #efefef;
  transition: 0.3s;
}

.msgBtn:hover {
    background: #dfdfdf;
}

.link {
  border-radius: 8px;
  width: 168px;
  height: 32px;
  background-color: #efefef;
  text-align: center;
  cursor: pointer;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  text-align: center;
  color: #000;
  padding-top: 7px;
  margin-left: 23.5px;
}

.modalOverlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
}

.websiteContainer {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: #00376b;
  margin-top: 20px;
  transition: 0.3s;
  margin-left: 95px;

  display: flex;
  gap: 4px;
}

.websiteContainer:hover {
  color: #006acd !important;
}

.username {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 19px;
  line-height: 126%;
  color: #000;
  margin-left: 95px;
  display: flex;
  gap: 5px;
}

.postSize{
  width: 300px;
  height: 300px;
}