.form {
  border: 1px solid #dbdbdb;
  border-radius: 1px;
  width: 350px;
  height: 554px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form h2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: #737373;
  width: 255px;
  margin-bottom: 18px;
  margin-top: -10px;
}

.form div {
  margin-top: 19px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.inputs input {
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  width: 268px;
  height: 38px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 300%;
  color: #737373;
  padding: 8px;
}

.inputs input:last-child {
  margin-bottom: 10px;
}

.registerText p {
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  text-align: center;
  color: #737373;
  width: 270px;
  height: 30px;
}

.form button {
  border-radius: 8px !important;
  width: 268px !important;
  height: 32px !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  line-height: 129% !important;
  text-align: center !important;
  color: #fff !important;
  background-color: #0095f6 !important;
  border: none;
  margin-top: 15px;
  transition: 0.3s;
}

.hoverBtn:hover {
  background-color: #0065c4 !important;
}

.haveAccount {
  border: 1px solid #dbdbdb;
  border-radius: 1px;
  width: 350px;
  height: 70px;
  margin-top: 15px;
}

.haveAccount p {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  text-align: center;
  color: #000;
  margin-top: 26px;
}

.haveAccount span {
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  text-align: center;
  color: #0095f6;
  transition: 0.3s;
}

.hoverSpan:hover {
  color: #0065c4 !important;
}

.error {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: #ff0014;
}

.link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  text-align: center;
  color: #00376b;
}

.link:visited {
    color: #00376b !important;
}
